/* ------------------------------------------
	Documentation Style 
------------------------------------------ */


/* ======= General Style ======= */
html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-size: 17px;
    line-height: 1.75em;
    font-weight: 400;
    color: #676977;
    
    background: #fff url('../images/bg.jpg') center top no-repeat;
}
p {
    font-size: 17px;
    line-height: 1.75em;
    font-weight: 400;
    color: #676977;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
p i {
    color: #fff;
    font-style: normal;
}
a {
    color: #2095AE;
    text-decoration: none;
}
a:hover {
    color: #2095AE;
    text-decoration: underline;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 30px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding-left: 1.5em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 2em;
}
li:before {
    content: "\e64c";
    font-family: "themify";
    display: inline-block;
    margin-left: -1.5em;
    width: 1.5em;
    color: #2095AE;
    font-size: 12px;
}
b,
strong {
    font-weight: 400;
    color: #2095AE;
    font-size: 17px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid transparent;
}
.mb-60 {
    margin-bottom: 60px;
}


/* ======= Header ======= */
.header {
    margin: 120px 0;
    text-align: center;
}
.header h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    color: #fff;
    margin-top: 15px;
}
.header h1 span {
    display: block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
    color: #999;
    font-weight: 400;
    letter-spacing: 4px;
    display: block;
    margin-top: 5px;
    line-height: 1.5em;
    text-transform: uppercase;
}
.header h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    line-height: 1.75em;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 15px 0 0 0;
}
.logo {
    width: 250px;
    margin-bottom: 0px;
}


/* ======= Title ======= */
.title {
    font-size: 27px;
    line-height: 1.5em;
    color: #0f2454;
    margin-bottom: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
}
.title span {
    color: #0f2454;
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
}
.title b {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 400;
}


/* ======= Content ======= */
.content {
    margin-bottom: 0px;
    padding: 60px 0;
    background: #fff;
    border-radius: 24px;
}

.content img {
    border-radius: 24px;
}

.content p b {
    font-weight: 400;
    color: #2095AE;
    font-size: 19px;
}


/* ======= Footer ======= */
.footer-section {
    background: #0f2454;
}
footer p {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    line-height: 1.5em;
    font-size: 15px;
}

/* ======= toTop ======= */
.toTop {
    width: 40px;
    right: 30px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center 15px;
    background-color: #2095AE;
    z-index: 999;
    padding: 20px 0;
    position: fixed;
    display: none;
    top: 90%;
    color: #fff;
}
.toTop-vissible {
    right: 10px;
    opacity: 1;
}
.toTop:before {
    position: absolute;
    content: "\e627";
    top: 13px;
    left: 50%;
    margin-left: -7px;
    font-size: 14px;
    display: inline-block;
    font-family: "themify";
    font-style: normal;
    font-weight: 300;
    line-height: 1;
}
.toTop:hover {
    color: #fff;
}
.toTop:focus {
    color: #fff;
}